<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Movies!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>My Movies!</p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies">
                            Ver películas
                        </a>
                    </li>
                    <li>
                        <a href="/actors">
                            Ver actores
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/movies/create">Crear película</a>
                    </li>
                    <li>
                        <a href="/actors/create">Crear actor</a>
                    </li>
                    <li>
                        <a href="/actors/add">Añadir actuación</a>
                    </li>
                </ul>
            </nav>
        </header>