<%- include('header') -%>
    <h1>Listado de películas</h1>
    <ul>
        <% for (let i = 0; i < movies.length; i++) { %>
            <li>
                <a href="/movies/detail/<%= movies[i].id %>">
                    <%= movies[i].title  %>
                </a>
            </li>
        <% } %>
    </ul>
<%- include('footer') -%>