body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

header {
  background-color: gainsboro;
  color: white;
  padding: 10px;
}

header p {
  color: red;
  /*background-color: tomato;
  display: inline-block;*/
}
header a {
  color: black;
  /*background-color: tomato;*/
  /*display: inline-block;*/
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

nav ul li {
  margin-right: 10px;
}
